@font-face {
    font-family: "Champions-Bold";
    src: url('./Champions-Bold.ttf') format('truetype');
}

body {
    background-color: #F1F3F8; /* Couleur de fond du body */
    margin: 0;
    padding: 0;
    color: #010125;
    

    font-family: 'Manrope', sans-serif;
    z-index: 112;
}
nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Styles pour les liens dans les éléments ul */
    

    /* Styles pour les liens dans les éléments ul */
    .equipe img {
        border-radius: 100px; /* Arrondir l'image en forme de cercle */
    }

header {
    background-color: #010125;
    color: #fff;
    padding: 0px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-buttons {
    margin-left: auto;
}


/* Style pour le survol des liens */
nav ul li a.active,
nav ul li a:hover {
    padding: 10px;
    background-color: turquoise;
    border-radius: 9999px;
    color: black;
}





.matchs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.match {
    border: 1px solid #c0bdbd;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 1000px;
}

.logo {
    width: 100px;
    height: 100px;
}

.score {
    margin: 0 10px; /* Pour ajouter de l'espace entre le score et les noms d'équipe */
}


.match h4 {
    margin: 5px 0;
}




.equipe .nom {
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}


.matchs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 20px;
}

.match {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.equipe {
    flex-grow: 1;
    text-align: center;
}

.score {
    width: 50px;
    text-align: center;
}





nav ul li {
    font-family: "Champions-Bold";

    display: inline;
    margin-right: 20px;
    
   
}

main{
    margin: 20px auto; /* Centrer la poule horizontalement et espacement avec les autres poules */
    max-width: 600px; /* Limiter la largeur de la poule */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



section {
    margin-bottom: 20px;
    margin-left: 5px;
}

h2 {
    font-family: "Champions-Bold";

    margin: 20px auto; /* Centrer la poule horizontalement et espacement avec les autres poules */
    max-width: 600px; /* Limiter la largeur de la poule */
    margin-top: 0;
    font-weight: bold;
    font-size: 40px;
}

p{

    margin: 20px auto; /* Centrer la poule horizontalement et espacement avec les autres poules */
    max-width: 600px; /* Limiter la largeur de la poule */
    margin-top: 0;

}


/* Styles pour les phases de poules */

/* Styles pour les phases de poules */
.poule {
    border: 1px solid #ffffff; /* Couleur des bordures de la poule */
    border-radius: 8px; /* Arrondir les bords de la poule */
    background-color: white; /* Couleur de fond de la poule */
    margin: 20px auto; /* Centrer la poule horizontalement et espacement avec les autres poules */
    max-width: 600px; /* Limiter la largeur de la poule */
}

/* Effet hover sur les lignes des équipes */
table tbody tr:hover {
    background-color: #f5f5f5; /* Couleur de fond au survol */
    transition: background-color 0.4s ease; /* Ralentir l'effet de transition */
}

/* Ajout de styles pour surligner les meilleures équipes */

.meilleure-equipe {
    background-color: #ced1da; /* Couleur de surlignage */
    font-weight: bold;
}

.meilleur-troisieme {
    background-color: #ced1da; /* Couleur de surlignage pour la meilleure équipe de la poule "Meilleur Troisième" */
    font-weight: bold; /* Mettre en gras pour le surlignage */
    color: #000; /* Couleur du texte */
}


.poule h3 {
    color: #000040;
    padding: 10px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 6px;
    color: #000040; /* Couleur de texte noir */
    text-align: center; /* Aligner le texte au centre */
}

table th {
    background-color: #ffffff;
}

/* Ajoutez une classe spécifique pour la colonne des points */
.points {
    font-weight: bold; /* Mettre en gras les points */
}


/* Styles pour les équipes qualifiées en quart de finale */



/* Effet hover sur les lignes des équipes */

table tbody tr:hover {
    background-color: #f5f5f5; /* Couleur de fond au survol */
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        margin-top: 20px; /* Ajoute un espace entre les boutons et le haut du header */
    }

    nav ul {
        margin-right: 20px;
        margin-bottom: 30px;
        
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px; /* Espacement entre les boutons */
    }
    .logo{
        height: 138px;
        width: 138px;
    }
}